<%- include('partials/header') %>

<div class="pokemon-list pure-g">
  <% pokemons.forEach(p => { %>
    <div class="pokemon-card pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <header>
        <span class="pokemon-number"><p>N°<%= p.id %></p></span>
        <img class="pokemon-img pure-img" src="<%= p.image %>" alt="<%= p.name %>" />
        <h2><%= p.name %></h2>
        <p><%= p.description %></p>
        <a class="pure-button" href="/pokemon/<%= p.id %>">Voir détails</a>
      </header>
    </div>
  <% }); %>
</div>

<%- include('partials/footer') %>