<%- include('partials/header') %>

<article class="pokemon-detail">
  <header>
    <img class="pokemon-img pure-img" src="<%= pokemon.image %>" alt="<%= pokemon.name %>" />
    <h2><%= pokemon.name %></h2>
    <h3>Type: <%= pokemon.type.join(', ') %></h3>
    <p><%= pokemon.description %></p>
  </header>
</article>

<%- include('partials/footer') %>