<%- include('partials/head') %>
<%- include('partials/header') %>

<article class="pokemon-detail">
  <header class="<%= `type-${pokemon.types[0].toLowerCase()}` %>">
    <img class="pokemon-img pure-img" src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>" />
    <h2><%= pokemon.name %></h2>
    <div class="pokemon-types">
      <% pokemon.types.forEach(type => { %>
        <span class="pokemon-type <%= 'type-' + type.toLowerCase() %>"><%= type %></span>
      <% }); %>
    </div>
  </header>
  <section class="pokemon-info">
    <h3>Description</h3>
    <p><%= pokemon.description %></p>
  </section>
</article>

<%- include('partials/footer') %>
