<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="pokemon-list">
  <% pokemons.forEach(p => { 
    const typeClass = `type-${p.types[0].toLowerCase()}`;
  %>
    <a class="pokemon-card" href="/pokemon/<%= p.id %>">
      <header class="<%= typeClass %>">
        <span class="pokemon-number"><p>N°<%= p.id %></p></span>
        <img class="pokemon-img" src="<%= p.image_url %>" alt="<%= p.name %>" />
        <h2><%= p.name %></h2>
        <div class="pokemon-types">
          <% p.types.forEach(type => { %>
            <span class="pokemon-type <%= 'type-' + type.toLowerCase() %>"><%= type %></span>
          <% }); %>
        </div>
      </header>
    </a>
  <% }); %>
</div>

<%- include('partials/footer') %>

