<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="thank-you-container">
  <h1>Merci, <%= surname %> <%= name %> !</h1>
  <p>J'ai bien reçu ton message. Merci pour ton feedback et ta suggestions.</p>
  <a href="/" class="return-button">Retour à l'accueil</a>
</div>

<%- include('partials/footer') %>
